@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --accent: #bcff00;
}

html {
  scroll-behavior: smooth;
  margin: 0; padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  margin: 0; padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* Reset Spacing Global untuk merapatkan landing page */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

section {
  padding-top: 4rem; /* Jarak standar antar section */
  padding-bottom: 4rem;
}

#home {
  padding-top: 0 !important; /* Hero tidak butuh padding top tambahan */
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: var(--background); }
::-webkit-scrollbar-thumb { background: #222; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: var(--accent); }

/* Noise Effect */
body::before {
  content: "";
  position: fixed; inset: 0;
  opacity: 0.03; z-index: 9999; pointer-events: none;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
}